<h3 class="bg-dark text-white text-center p-2">Todo Task</h3>
<div class="row">
    <div class="col-md-4 mt-4">
     <div class="form-group">
        <label for="text"  class="font-weight-bold">Todo Item</label>
        <input #get type="text"   class="form-control">
        <!-- <button (click)="addB(get)" class="btn btn-outline-info mt-3">Add Todo</button> -->
        <button (click)="addB()" class="btn btn-outline-info mt-3">Add Todo</button>
     </div>
    </div>
    
    <div class="col-md-4 mt-5">
        <ul class="list-group">
            <li *ngFor="let arr of todoArr" class="list-group-item">
              Hello  {{arr.todoItem}}
            </li>
        </ul>
    </div>
    
</div>