
<div class="container d-flex flex-column align-items-center justify-content-center mt-3">
       <div class="row">
         <div class="col-12 text-center">
           
           <!-- Heading -->
           <h3 class="head mb-4">Data-Binding</h3>
     
           <!-- Product Component -->
           <app-product class="mb-4"></app-product>




                       <!-- Property binding -->
           <!-- <button [disabled]="isDisabled" class="btn btn-primary mb-4">Add Product</button> -->
           
           <img [src]="productImg" alt="Product Image" class="img-fluid rounded shadow-sm my-3">
     
         </div>
       </div>
     </div>
     