
  
<h1 class="heading">{{ title }}</h1>

<div class="container mt-4">
<div class="row lists">

<div class="col-md-4">
<ul class="list-group">
<li *ngFor = "let list01 of fruits" class="list-group-item">{{list01}}</li>
</ul>
</div>

<div class="col-md-4">
<ul class="list-group">
<li *ngFor = "let list02 of landmarks " class="list-group-item">{{list02}}</li>
</ul>
</div>


<div class="col-md-4">
<ul class="list-group">
<li *ngFor = "let list03 of planets" class="list-group-item">{{list03}}</li>
</ul>
</div>

<div class="col-md-4">
<ul class="list-group">
<li *ngFor = "let list04 of languages" class="list-group-item">{{list04}}</li>
</ul>
</div>
      
<div class="col-md-4">
<ul class="list-group">
<li *ngFor = "let list05 of scientists" class="list-group-item">{{list05}}</li>
</ul>
</div>

<div class="col-md-4">
  <ul class="list-group">
  <li *ngFor = "let list06 of sports" class="list-group-item">{{list06}}</li>
  </ul>
  </div>

</div>
</div>
