

.heading {
    font-family: Georgia, serif;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    color: white;
    background-color: black;
    // padding: 0.40rem;
    
    @media (max-width: 768px) {
        font-size: 1.5rem;
        padding: 0.8rem;
    }

    @media (max-width: 480px) {
        font-size: 1.1rem;
        padding: 0.6rem;
        
    }
}





  
  .table th, .table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    white-space: nowrap;
    color: white; 
  }
  
  
  @media (max-width: 768px) {
    .table th, .table td {
      font-size: 14px;
      padding: 8px;
    }
    
    .table-container {
      overflow-x: scroll;
    }
  
    .loader {
      justify-content: center;
    }
  }
  
  @media (max-width: 480px) {
    .table th, .table td {
      font-size: 12px;
      padding: 6px;
    }
  
    .table th:nth-child(3),
    .table td:nth-child(3) {
      display: none; 
    }

  }

  

