
<h3 class="bg-dark text-center p-1 text-white mt-5">Student Task</h3>
    <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="text">Name</label>
        <input #name type="text" class="form-control">
      </div>
      
      <div class="form-group">
        <label for="email">Email</label>
        <input #email type="email" class="form-control">
      </div>  

      <div class="form-group">
        <label for="Phone">Phone</label>
        <input #phone type="number" class="form-control">
      </div> 
       
       <button (click)="onClick(name,email,phone)" class="btn btn-outline-info">Add Student</button>
    </div>

    <div class="col-md-6 column">
    <div class="table-responsive">
            <table class="table table-bordered  text-white text-center">
              <thead class="styleTH">
                <tr>
                  <th>SR NO</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Phone</th>
                </tr>
              </thead>
               <tbody class="styleTD">
                <tr  *ngFor="let arr of stdTable; let i = index">
                  <td>{{i+1}}</td>
                  <td>{{arr.fname}}</td>
                  <td>{{arr.email}}</td>
                  <td>{{arr.phone}}</td>
                </tr>
               </tbody>
            </table>

          </div>
        </div>
      </div>
