/* You can add global styles to this file, and also import other style files */

body {
    background-color: #302c2c; // Light gray background
    font-family: Georgia, serif;
    margin: 0;
    padding: 0;
}
